body { background-image: url(/static/img/mochaGrunge.png);}


#card_game_container {
	padding-top:20px;
	padding-bottom:20px;
	width:100%;
	text-align: center; /*this on parent centers all child elems too*/
}

#cardPile, #cardSlots {
	min-width:800px;
}

.hidden {
	display:none;
}

h1, h2, p {
	font-family: 'Roboto', sans-serif;
	font-weight:300;
	color:#fff;
}

.title { color:#fff; }

h1.title {
	padding:0px;
}

p.title { 
	margin: -10px 0px 25px 0px;
	font-size:1.1em;
}

.green_glow {
	-moz-box-shadow: inset 0 0 4px 4px #49E20E;
	-webkit-box-shadow: inset 0 0 4px 4px #49E20E;
	box-shadow: inset 0 0 4px 4px #49E20E;
}

#successMessage {
	margin:0px auto;
	position:absolute;
	top:150px;
	left:410px;
	width:350px;
	background-color: #fff;
	border: 6px ridge #999;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	color:#333;
}

#successMessage h2, #successMessage p {
	color:#333;
}

#successMessage h2 { 
	padding-top:3px;
	margin-bottom: -10px;
}

#note-game-content img {
	border-radius:8px;
}

#default-button, #lines-button, #spaces-button {
	height:40px;
	width:145px;
	font-size:0.9em;
	color:#333;
	border-radius: 5px;
	/* background-color:#C3E4ED; */
	background-color: #FFFFAA;
	margin-top:12px;
	margin-right:2px;
	text-transform: uppercase;
}

