body { background-image: url(/static/img/mochaGrunge.png);}


#card_game_container {
	padding-top:20px;
	padding-bottom:20px;
	width:100%;
	text-align: center; /*this on parent centers all child elems too*/
}

#cardPile, #cardSlots {
	min-width:800px;
}

.hidden {
	display:none;
}

h2, p {
	font-family: 'Roboto', sans-serif;
	font-weight:300;
	color:#fff;
}

h3 {
	font-family: 'Roboto', sans-serif;
	font-weight:300;
	color:#333;
}

#note-game-title {
	margin-bottom:-10px;
}

#correct {
	color:#333;
	padding:0px;
	margin:10px 0px 0px 10px;
}

.green_glow {
	-moz-box-shadow: inset 0 0 4px 4px #49E20E;
	-webkit-box-shadow: inset 0 0 4px 4px #49E20E;
	box-shadow: inset 0 0 4px 4px #49E20E;
}

#successMessage {
	background-color: #f5f5f5;
	padding: 10px;
	border: 1px solid #333;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	margin:15px auto;
}

#note-game-content img {
	border-radius:8px;
}

#note-game-button {
	height:40px;
	width:140px;
	font-size:1em;
	color:#333;
	border-radius: 5px;
	background-color:#C3E4ED;
	margin-top:10px;
}

