body { 
	/* background-image: url(/static/img/mochaGrunge.png); */
	background-color:#8ca9b9;
}

#card_game_container {
	padding-top:20px;
	padding-bottom:20px;
	width:100%;
	text-align: center; /*this on parent centers all child elems too*/
}

#cardPile, #cardSlots {
	min-width:800px;
}

.hidden {
	display:none;
}

h1, h2, h3, p {
	font-family: 'Roboto', sans-serif;
	font-weight:300;
	color:#fff;
}

.title { color:#444; }

h1.title {
	padding:0px;
}

p.title { 
	margin: -10px 0px 25px 0px;
	font-size:1.1em;
}

.glow {
	-moz-box-shadow: inset 0 0 4px 4px #36648B;
	-webkit-box-shadow: inset 0 0 4px 4px #36648B ;
	box-shadow: inset 0 0 4px 4px #36648B;
}

#successMessage {
	position:absolute;
	top:40px;
	left:34%;
	width:32%;
	color:#333;
}

#successMessage h1 { 
	padding-top:3px;
	margin-bottom:-10px;
	font-weight:600;
	color:#fff;
}

#successMessage h3 {
	font-weight:300;
	margin-top:8px;
	color:#fff;
}

#note-game-content {
	position:relative;
}

#note-game-content img {
	border-radius:8px;
}

#default-button, #lines-button, #spaces-button {
	height:40px;
	width:145px;
	font-size:0.9em;
	color:#555;
	border-radius: 5px;
	background-color: #FFFFAA;
	margin-top:12px;
	margin-right:2px;
	text-transform: uppercase;
}

